#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
@font-face {
    font-family: "Montserrat-Black";
    src: url("public/fonts/Montserrat-Black.ttf");

}
@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("public/fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("public/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("public/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("public/fonts/Montserrat-SemiBold.ttf");
}