.header{
    padding-top: 30px;
    padding-bottom: 10px;
    position: sticky;
    left: 0;
    box-shadow: 8px 28px 74px rgba(184, 54, 0, 0.06);
}
.navBar a {
    color: #272744;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 38px;
}

.leftMen a{
    color: #272744;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 24px;
    text-align: end!important;
}
.join{
    background: #FF6600;
    padding: 12px 24px;
    border-radius: 32px;
}
.join span{

    color: #ffffff;
}
.navBarMobile ul{
    list-style: none;
}
.navBarMobile ul li {
   cursor: pointer;
}
.navBarMobile ul li a {
    text-decoration: none;
    color: #272744;
}
.joinMobile span{
    color: #FF6600;
}
.burgermenuIcon{
    width: 38px;
    height: 38px;
    /*left: calc(50% - 38px/2 + 144.5px);*/
}
.burgermenuButton{
    text-align: end;
}