.header{
    margin: 0 auto;
    padding-top: 50px;
    width: 60%;
}
.logoArea{
    display: inline-block;
}
.nav {
    height: 100px;
    display: inline-block;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 100%;*/
    /*background-color: #c41919;*/
    /*!*padding: 32px;*!*/
    /*border-right: 1px solid #eaeaea;*/
}

.nav > a {
    padding: 5px 25px;
    color: #272744;
    /*margin: 8px 0;*/
    font-size: 16px;
    text-decoration: none;
    /*background: white;*/
    /*border-radius: 4px;*/
    /*font-size: 14px;*/
    /*padding: 12px 16px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    /*letter-spacing: 0.025em;*/
    /*color: #333;*/
    /*border: 1px solid #eaeaea;*/
    /*transition: all 0.125s ease;*/
}

.nav > a:hover {
    color: #FF6600;
}

.input {
    /*margin: 32px 0;*/
    /*text-decoration: none;*/
    /*background: white;*/
    /*border-radius: 4px;*/
    /*border: 1px solid #eaeaea;*/
    /*font-size: 14px;*/
    /*padding: 8px 16px;*/
    /*height: 28px;*/
}
.logo{
    height: 44px ;
}
.loginarea{
    /*display: inline-block;*/
    float: right;
    margin-top: 20px;
}
.loginarea > a {
    padding: 5px 25px;
    right: 10px;
    color: #272744;
    font-size: 16px;
    text-decoration: none;

}
.join{
    background: linear-gradient(180deg, #FF6600 0%, #F34200 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    color: #fff;
    cursor:pointer;
}
.join:hover{
    background: #FF6600;
}