
.textTitle{

    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #272744;
}
.sellingDesc{
    font-size: 32px;
    color: #FF6600;
    display: inline-block;
}

.singleSell{
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 16px;
    min-height: 321px;
}
.singleSell p{
    color: #FF7E27;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}
.lineDiv{
    width: 30%;
    height: 2px;
    background-color: #FF7E27;
    display: inline-block;
}
.iconStyles  {
    height:48px;
    color:#FF6600;
}
.lineandMore{
    text-align: end;
}

.clickMe{
    font-size: 18px;
}
.joinButton{

    background: #FF6600;
    border-radius: 32px;
    text-decoration: none;
    color: #fff;

    padding: 10px 20px;
}
