.section3Container{
    border: 1px solid greenyellow;
    max-width: 1380px !important;
    margin-top: 30px;
    padding: 0 !important;
}
.sectionTitle{
    font-family: Montserrat-ExtraBold;

    font-style: normal;
    font-size: 64px;
    color: #272744;
    margin:0;
    padding-top: 20px;
}
.sectionSubTitle{
    font-family: Montserrat-ExtraBold;

    font-style: normal;
    /*font-weight: 800;*/
    font-size: 60px;
    /*line-height: 28px;*/
    color: #FF6600;
    margin:0;
    /*padding-top: 20px;*/
}
.textTitle{
    font-family: Montserrat-ExtraBold;

    font-style: normal;
    /*font-weight: 800;*/
    font-size: 32px;
    /*line-height: 39px;*/
    color: #272744;
}
.textDescription{
    font-family: Montserrat-SemiBold;

    font-style: normal;
    /*font-weight: 600;*/
    font-size: 18px;
    /*line-height: 30px;*/
    color: #272744;

}
.textDescription span{
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 16px;
    /*line-height: 20px;*/
    text-transform: capitalize;
    color: #FF6600;
}
.line{
    width: 45%;
    height: 2px;
    background-color: #FF6600;
}
.webExtension{
    color: #AFAFC0;
    font-size: 16px;

}
.storeIconInfo{
    font-size: 16px;
    text-transform: capitalize;
    color: #AFAFC0;
}
.brIcon{
    width: 134px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(184, 54, 0, 0.15);
    border-radius: 8px;
}