
.textTitle{
    font-family: Montserrat-ExtraBold;

    font-style: normal;
    /*font-weight: 800;*/
    font-size: 48px;
    color: #272744;
}
.sellingDesc{
    font-family: Montserrat-SemiBold;

    font-size: 32px;
    color: #FF6600;
    display: inline-block;
}

.singleSell{
    cursor: pointer;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    min-height: 321px;
    padding: 5px 52px 25px 52px;
    height: 367px;
    position: relative;
}
.singleSell p{
    /*color: #FF7E27;*/
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}
.lineDiv{
    width: 30%;
    height: 2px;
    background-color: #FF7E27;
    display: inline-block;
}
.iconStyles  {
    height:64px;
    color:#FF6600;

}
.lineandMore{
    text-align: end;
}

.clickMe{

    font-size: 18px;
    color: #FF7E27;
}
.joinButtonArea{
    font-family: Montserrat-SemiBold;

    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.joinButton{
    font-family: Montserrat-SemiBold;

    background: #FF6600;
    border-radius: 32px;
    text-decoration: none;
    color: #fff;

    padding: 10px 20px;
}
.answeVal{
    /*position: absolute;*/
    bottom: 70px;
    left: 10%;
    font-size: 22px;
    color: #FFFFFF;
}
.clMe{
    position: absolute;
    bottom: 1px;
    right: 0px;
}