.textTitle{

    font-style: normal;
    /*font-weight: 800;*/
    font-size: 32px;
    line-height: 39px;
    color: #272744;
}


.textDescription{
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 18px;
    line-height: 30px;
    color: #272744;

}
.line{
    width: 45%;
    height: 2px;
    background-color: #FF6600;
}