.singleBenefits{
    background: #FFFFFF;
    box-shadow: 8px 28px 74px rgba(184, 54, 0, 0.12);
    border-radius: 24px;
    padding: 15px ;
    display: inline-block;
    /*position: relative;*/
    /*top: -180px;*/
    /*width: 230px;*/
    margin-left: 33px;
    margin-top: 33px;

}
.textTitle{
    font-style: normal;
    /*font-weight: 800;*/
    font-size: 32px;
    line-height: 39px;
    color: #272744;
}
.line{
    width: 45%;
    height: 2px;
    background-color: #FF6600;
}
.cartHref{
    text-decoration: none;
}
.singleBenefitsImages{
    border-radius: 16px;
    width: 100%;
}
.singleNewsTitle{
    font-size: 22px;
    line-height: 28px;
    color: #272744;
}
.singleNewsDescription{
    color: #7C7C9E;
    font-size: 18px;
}
.singleNewsData{
    text-align: end;
    color: #AFAFC0;
    font-size: 16px;
}
.newsContainer{
    margin: 0 auto!important;
}
.allNews{
    border: 2px solid #FF6600;
    color: #FF6600;
    border-radius: 32px;
    text-decoration: none;
    font-size: 16px;
    padding: 13px 35px;

}
