/*.section1{*/
/*    width: 100%;*/
/*}*/
/*.leftbar{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*width: 50%;*!*/
/*    height: 250px;*/
/*    background: #0070f3;*/
/*}*/
/*.rightbar{*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*    !*width: 50%;*!*/
/*    height: 250px;*/
/*    background: #f30061;*/

/*}*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.doubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.leftColumn {
    /*background-color: blue;*/
    padding-right: 20%;
    padding-top: 10%;
    /*height: 100px;*/
}
.leftColumn h2{
    font-style: normal;
    font-weight: 800;
    font-size: 64px;

    color: #272744;
}
.leftColumn h3{
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 28px;
    color: #FF6600;
}
.leftColumn h4{

    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #272744;
}
.leftColumn p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #272744;

}
.leftColumn p span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FF6600;
}
.rightColumn {
    /*height: 100px;*/
    /*background-color: green;*/
    padding-left: 20%;
}
.line{
    width: 45%;
    height: 2px;
    background-color: #FF6600;
}