.sectionFooterWraper {
    background: #272744;
}

.sectionFooter {
    max-width: 1380px !important;
    margin: 30px 0 10px;
    padding: 0 !important;
    background: #272744;
}

.sectionFooter > div > div:nth-child(3),
.sectionFooter > div > div:nth-child(4) {
    padding-left: 80px;
}

.joinButtonArea, .joinButtonAreaLogin {
    margin-top: 50px;
    width: 145px;
    height: 45px;
    background: #FF6600;
    border-radius: 32px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.joinButton, .joinButtonLogin {
    text-decoration: none;
    color: #fff;
}

.joinButtonAreaLogin {
    border: 2px solid #FFFFFF;
    background: none;
}

.ionfoSecondBar {
    color: #FFFFFF;
    font-size: 16px;
    list-style: none;
    font-weight: 500;
    line-height: 16px;
    padding: 0;
    margin-bottom: 25px;
}

.ionfoSecondBar > li > div {
    margin-bottom: 16px !important;
}

.ionfoSecondBarSecond {
    color: #FFFFFF;
    font-size: 16px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.lastCol {
    display: grid;
    justify-content: end;
    margin: 0 !important;
    padding: 0 !important;
}

.lastCol > ul {
    margin: 0;
}

.brimages {
    width: 24px;
    margin-top: 2px;
}

.line {
    margin-top: 40px;
    height: 1px;
    background-color: #fff;
}

.footerText {
    color: #FFFFFF;
    font-size: 16px;
}

.footerBottom {
    text-align: right;
}

.footerBottom > p > svg {
    margin-left: 15px;
}