.topBar{
    padding: 20px;
}
.joinTitle{
    font-size: 32px;
}
.buttonArea{
    text-align: end;
    justify-content: right;
}
.nextButton{
    background: #FF6600!important;
    border-radius: 32px!important;
    color:#fff!important;
    width: 144px!important;
    height: 44px!important;
}
.regForm h2{
    color: #272744;
    font-size: 24px;
}
.regForm h3{
    color: #272744;
    font-size: 18px;
}
.closeButton{
    text-align: right;
    position: relative;
    top: 50px;
    z-index: 999999;
}
.closeButton a{
    color: #f34313;
    text-decoration: none;
}
.addNewInput{
    font-size: 16px;
    color: #FF6600;
    cursor: pointer;
}
.delRow{
    color: #f34313;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: 28px;
}
.radioInput a{
    font-size: 16px;
    color: #FF6600;
    text-decoration: none;
}
.uploadIcon{
    font-size: 16px;
    color: #FF6600;
    cursor: pointer;
}
.numberInput{
    font-size: 16px;
    color: #272744;
}
/*.accSt{*/
/*    color: #272744;*/
/*}*/
.accSt a{
    font-size: 16px;

    color: #FF6600;
    text-decoration: none;

}
.titleDone{
    font-size: 24px;
    color: #F34313!important;
    display: inline-block;
    position: relative!important;;
    top: -60px!important;;

}
.subtitleDone{
    font-size: 24px;
    color: #272744;
}
.descriptionDone{
    font-size: 20px;
    color: #F34313;
}
.imgDone{
    width: 64px;
    display: inline-block;
    /*margin-top: 20px!important; ;*/
}
.buttonOK{
    text-align: center;
}
.buttonOK a{
    padding: 18px 90px;
    font-size: 16px;
    color: #FFFFFF;
    background: #FF6600;
    border-radius: 28px;
    text-decoration: none;
}