.section1Container {
    /*border: 1px solid greenyellow;*/
    max-width: 1380px !important;
    margin-top: 30px;
    padding: 0 !important;
}

/*left side*/
.sectionTitle, .sectionSubTitle {
    font-family: Montserrat-ExtraBold;
    font-style: normal;
    font-size: 64px;
    color: #272744;
    margin: 0;
    padding-top: 60px;
    font-weight: 800;
    line-height: 78px;
    white-space: pre-line;
}

.sectionSubTitle {
    color: #FF6600;
    padding-top: 0;
}

.textTitle {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #272744;
    margin: 50px 0 0;
}

.textDescription {
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
    line-height: 30px !important;
    color: #272744;
    margin: 16px 0 40px;
    width: 500px;
}

.textDescription > p {
    display: contents;
}

.textDescription > p > span {
    font-size: 18px !important;
    line-height: 30px !important;
}

.textDescription span:last-child {
    font-size: 16px;
    color: #FF6600;
}

.rm {
    cursor: pointer;
}

.joinButton {
    font-family: Montserrat-Bold;
    background: #FF6600;
    border-radius: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 18px 25px;
    font-weight: 600;
}


/*right side*/
.playAreaPar {
    position: relative;
}

.playArea {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 100px;
    cursor: pointer;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playArea h3 {
    color: #272744;
    font-size: 22px;
    width: 200px;
}

.playAreaPar img {
    width: 690px;
    position: relative;
}

.playButton {
    color: #ffffff;
    font-size: 16px;
    background: #272744;
    border-radius: 32px;
    padding: 12px 15px;
    width: fit-content;
    cursor: pointer;
}


/*read more section*/
.secondSee {
    position: absolute;
    columns: 1;
    width: 62%;
    top: 350px;
    background-color: #fff;
    z-index: 55;
    box-shadow: 8px 28px 74px rgba(184, 54, 0, 0.06);
    border-radius: 32px;
    padding: 40px;
    box-sizing: border-box;
}

.secondSeeTitle {
    display: flex;
    justify-content: space-between;
}

.closeModalIcon {
    color: #F34313;
    cursor: pointer;
    font-size: 25px;
}

.secondSee h4 {
    margin: 0;
}

.secondSee p {
    column-count: 2;
}

.joinButtonArea {
    text-align: end;
}

.joinButtonArea > .joinButton {
    padding: 12px 24px;
}


/*derevs anhayt styler____________________*/
.border {
    border: 1px solid red;
}


@media (max-width: 980px) {
    .secondSee {
        /*position: absolute;*/
        /*columns: 1;*/
        width: 91%;
        /*top:  331px;*/
        /*background-color: #fff;*/
        /*z-index: 55;*/
        /*box-shadow: 8px 28px 74px rgba(184, 54, 0, 0.06);*/
        /*border-radius: 32px;*/
        /*padding: 20px;*/
    }
}

.sendButton {
    outline: none;
    border: none;
    cursor: pointer;
}

.sendButton span {
    color: #FF6600;
    font-size: 18px;
}

.sendArea {
    text-align: end;
    width: 100%;
}

.container {
    max-width: 500px;
}

.videoLaptop {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

.videoArea {
    box-sizing: border-box;
    background: url('http://localhost:3000/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fpublic%2FsectionImages%2Fhero_section_guy.d3393434454ba7485a349c401e2c205e.png&w=750&q=75') center center no-repeat;
    background-size: contain;
    padding: 19% 30% 27% 51%;;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*@media  (max-width: 945px) {*/

/*}*/